* {
    box-sizing: border-box;
    transition: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: none;
}

.wapper {
    width: 50vmin;
    height: 50vmin;
    background-color: #ccc;
    border-radius: 50%;
    border: 1.5vmin solid #dde;
    position: relative;
    overflow: hidden;
    transition: 10s;
}

.wapper div {
    height: 50%;
    width: 20vmin;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 13.5vmin;
    transition: none;
}

.wapper div p {
    font-size: 1.8vmin;
    width: 50%;
    transition: none;
}

.arrow {
    position: absolute;
    top: 1.5vmin;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 9;
    transition: none;
}

.arrow::before {
    font-size: 5vmin;
    transition: none;
}

.arrow img {
    width: 10vmin;
    height: 8vmin;
    transition: none;
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: solid 0.8vmin #fff;
    font-weight: bold;
    font-size: 2vmin;
    color: #a2a2a2;
    width: 8vmin;
    height: 8vmin;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.1vmin;
    transition: none;
}

.hidden {
    display: none;
    transition: none;
}